<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap")
        link(rel="stylesheet", href="style.css")
        title Document
    body
        .header
            .wrapper
                .header_content
                    .header_logo
                        img(src="img/header_logo.svg", alt="header_logo")
                    .header_position.flex
                        img(src="img/header_position.svg", alt="position")
                        p Северо-Кавказский и <br>Южный Федеральный округ  
                    .header_number.flex
                        img(src="img/header_number.svg", alt="number")
                        .header_number-text.column
                            p 8 (962) <span class="text_color">454-50-10      
                            p 8 (918) <span class="text_color">867-09-83   
                    .button
                        button.header_button ЗАКАЗАТЬ ЗВОНОК
        .person
            .wrapper
                .person_content
                    .person_content-text
                        .content_text-title 
                            p КАЧЕСТВЕННОЕ ПРОВЕДЕНИЕ <br><span class="text_color">НЕЗАВИСИМЫХ <br>ЭКСПЕРТИЗ <br>
                            p НА ЛЮБОМ ЭТАПЕ ЮРИДИЧЕСКОГО СПОРА
                        .person_content-step
                            p.text_color до суда 
                            p.text_color на суде
                            p.text_color рецензирование заключений 
                            button.person_content-button ЗАКАЗАТЬ ЭКСПЕРТИЗУ
                    .person_content-image.flex
                        img(src="img/person_image.svg", alt="person")
                        .person_img-text.column
                            p Абанеев Никита Юрьевич
                            p.text_color Управляющий партнер,<br> ведущий эксперт-землеустроитель, <br>эксперт-строитель
        .expertise  
            .expertise_content
                .expertise_content-title 90% ВСЕХ СТРОИТЕЛЬНЫХ И ЗЕМЕЛЬНЫХ КОНТРАКТОВ <br> ЗАКАНЧИВАЮТСЯ СПОРАМИ, РАЗРЕШИТЬ КОТОРЫЕ ПОЗВОЛЯЕТ
                .expertise_content-text.flex
                    .content_text-title.text_color ЭКСПЕРТИЗА
                    .content_text-subtitle 
                        p От качества ее проведения и от экспертности <br>компании-исполнителя будет зависеть результат
                .expertise_content-form.flex
                    .expertise_content-img
                        .img_build
                            .flex
                                img(src="img/build.svg", alt="build")
                                .point
                                .small_point
                            p СТРОИТЕЛЬНО-ТЕХНИЧЕСКАЯ
                        .img_earth
                            .flex
                                img(src="img/earth.svg", alt="earth")
                                .point
                                .small_point
                            p ЗЕМЛЕУСТРОИТЕЛЬНАЯ
                        .img_price
                            .flex
                                img(src="img/price.svg", alt="price")
                                .point
                                .small_point
                            p ОЦЕНОЧНАЯ
                    .content_form-feedback.flex
                        img(src="img/3_4_круг.svg", alt="3_4_круг").feedback_big-circle
                        .form_feedback.column
                            .form_feedback-title 
                                p В некоторых случаях вы можете <span><br>ПОЛУЧИТЬ ПРЕДВАРИТЕЛЬНУЮ ОЦЕНКУ 
                                p вашей ситуации у эксперта
                            .form_feedback-name
                                p Имя
                                input(type="text")
                            .form_feedback-phone
                                p Телефон <span class="text_color">(Обязательно)
                                input(type="text")
                            .form_feedback-email
                                p E-mail <span class="text_color">(Обязательно)
                                input(type="text")
                            .form_feedback-button 
                                button  ПОЛУЧИТЬ ОЦЕНКУ
                            .form_feedback-subtitle
                                p *Гарантия конфиденциальности.
                        img(src="img/1_2_круг.svg", alt="1_2_круг").feedback_small-circle


                    
                        
                        


